#root {
  background-color: rgb(206, 199, 189);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  
  color:black;
  min-height: 100vh;
  border: 2px solid black; 
}


.currency-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

.currency-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.nav a {
  text-decoration: none;
  color: white;
}

.nav a div {
  font-weight: bold;
}

.nav a:hover {
  color: #ccc;
}